<%- include(process.cwd() + "/cliente/includes/header.ejs" ) %>



   <!-- Start Navbar Area -->
   <%- include(process.cwd() + "/cliente/includes/navbar.ejs" ) %>
      <!-- End Navbar Area -->


      <!-- Start Page Title -->
      <div class="page-title-area">
         <div class="container">
            <div class="page-title-content">
               <h2>Minha Conta</h2>
               <ul>
                  <li><a href="/">Inicio</a></li>
                  <li><a href="/Cadastro">Cadastro</a></li>
                  <li>Entrar</li>
               </ul>
            </div>
         </div>
      </div>
      <!-- End Page Title -->

      <!-- Start SignUP Area -->
      <section class="login-area ptb-100">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6 col-md-6">
                     <div class="login-content">
                         <h2>Entrar</h2>

                         <form class="login-form" id="formLogin">
                             <div class="form-group">
                                 <input type="email" class="form-control" placeholder="Email" id="email" required>
                             </div>

                             <div class="form-group">
                                 <input type="password" class="form-control" placeholder="Senha" id="senha" required>
                             </div>

                             <button type="submit" class="default-btn" id="btn">Entrar</button>

                             <a href="#" class="/recuperar">Esqueceu sua senha?</a>
                         </form>
                     </div>
                 </div>

                 <div class="col-lg-6 col-md-6">
                     <div class="new-customer-content">
                         <h2>Novo Cliente</h2>

                         <span>Criar conta</span>
                         <p>Cadastre-se gratuitamente em nossa loja. O registro é rápido e fácil. Ele permite que você seja capaz de encomendar em nossa loja. Para começar a comprar clique em cadastre-se.</p>
                         <a href="/cadastro" class="optional-btn">Criar conta</a>
                     </div>
                 </div>
             </div>
         </div>
     </section>
      <!-- End SignUP Area -->



      <!-- Start Shopping Cart Modal -->
      <%- include(process.cwd() + "/cliente/includes/carrinho.ejs" ) %>
         <!-- End Shopping Cart Modal -->



         <!-- Start Footer Area -->
         <%- include(process.cwd() + "/cliente/includes/footer.ejs" , { scripts: [ `/cliente/js/entrar.js` ] } ) %>
            <!-- End Footer Area -->