<div class="home-slides owl-carousel owl-theme">
   <div class="main-banner banner-bg1">
      <div class="d-table">
         <div class="d-table-cell">
            <div class="container">
               <div class="main-banner-content text-center">
                  <span class="sub-title">Limited Time Offer!</span>
                  <h1>Winter-Spring!</h1>
                  <p>Take 20% Off ‘Sale Must-Haves'</p>
                  <div class="btn-box">
                     <a href="products-left-sidebar.html" class="default-btn">Shop Women's</a>
                     <a href="products-right-sidebar-2.html" class="optional-btn">Shop Men's</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>